body{
    background-color: #2B2B2B;
}
#description{
    color: white;
}
footer{
    color: white;
}
footer>a{
    color: aliceblue;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
}
.carousel-inner {
    height: 0;
    padding-bottom: 50%; /* this sets carousel aspect ratio (4:1 here) */
  }
  
  .carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
  }
  
  div.gallery:hover {
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    flex: 0 0 30%;
    box-sizing: border-box;
    max-height: 300px;
    overflow: hidden;
  }
  
  @media only screen and (max-width: 1200px) {
    .responsive {
      flex: 0 0 49.99999%;
      margin: 6px 0;
    }
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 3%;
    overflow: hidden;
  }

  .gallery{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  hr{
    color: antiquewhite;
  }

  section>h3{
    color: rgba(233, 227, 227);
  }

  .popup{    
    background: green;
    color: #FFFFFF;
    display: none;
    position: absolute;
    left: -30px;
     outline:0;
}

.box{
  border: 1px solid red;
  margin-left: 100px; 
    position: relative;
  
}

